<%- include("header") -%>

  <div id="heading">
    <h1>The followinng message is from Publisher to Subscriber  </h1>
  </div>
      <div class="item">        
        <p>Temp Val:<%= dataFromPub %></p>
      </div>    

  

<%- include("footer") -%>
